/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #1a1a1a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--accent-color);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 255, 157, 0.5);
    animation: modalPop 0.3s ease-out;
}

@keyframes modalPop {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--accent-red);
    text-decoration: none;
    cursor: pointer;
}

#cart-btn {
    border: 1px solid var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: 2rem;
    color: var(--accent-color);
    text-decoration: none !important;
}

#cart-btn:hover {
    background-color: var(--accent-color);
    color: #000;
}

#cart-btn::after {
    display: none;
    /* Remove underline effect for button */
}